{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <form class="example" method="GET" action="{% url 'search_results' %}">
        <select name="filter" id="filter">
            <option value="artist">Artist</option>
            <option value="song">Song</option>
            <option value="album">Album</option>
        </select>

        <div class="form-group">
            <input type="text" placeholder="Search..." name="search" id="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        </div class="check-group">
            <input type="checkbox" name="check_1" id="check_1" checked="checked"/>
            <span class="checkboxtext">Default</span>

            <input type="checkbox" name="check_2" id="check_2" checked="unchecked"/>
            <span class="checkboxtext">Most Popular</span>
        </div>
    </form>

    <!--
    <div class="check-group">
            <label class="myCheckbox">
                <input type="checkbox" name="check_1" id="check_1" checked="checked"/>
                <span class="checkbox-text">One</span>
            </label>
        </div>
    -->

{% endblock %}